<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/jdbc    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
			http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd" >
	
	<bean id="ff4j" class="org.ff4j.FF4j" p:store-ref="dbStore" />
	
	<bean id="dbStore" class="org.ff4j.store.DataBaseFeatureStore" p:dataSource-ref="ff.jdbc.datasource" />
	
	<jdbc:embedded-database id="ff.jdbc.datasource" type="HSQL">
		<jdbc:script location="classpath:schema-ddl.sql"/>
		<jdbc:script location="classpath:ff-store.sql"  />
	</jdbc:embedded-database>
		
</beans>

