# eclipse conf file
.settings
.classpath
.project
.cache

# idea conf files
.idea
*.ipr
*.iws
*.iml

# building
target
build
tmp
dist

# misc
.DS_Store
.claude/settings.local.json
.bob
.factorypath
.sts4-cache
*.log

.java-version
CLAUDE.md