<!--
  #%L
  ff4j-web
  %%
  Copyright (C) 2013 - 2015 Ff4J
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="ff4j" class="org.ff4j.FF4j">
		<property name="featureStore" ref="ff4j.store" />
	</bean>

	<bean id="ff4j.store" class="org.ff4j.web.jersey1.store.FeatureStoreHttp">
		<constructor-arg index="0" type="java.lang.String" 
				name="rootApiUrl" value="http://localhost:9998/ff4j" />
	</bean>
	

</beans>
