<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
  
<div class="navbar navbar-fixed-top" th:include="navbar :: navbar"></div>

<div class="subnavbar" th:include="navbar :: subnavbar"></div>

<div id="wrapper" class="container" >
 <div class="row">
  <div class="span9"> 
   <div id="content" class="clearfix" >
    <div class="main-inner" style="margin-top:60px">
     <div class="container">
          
            <div class="widget widget-nopad">
            <div class="widget-header"> 
              <i class="icon-cogs"></i>
              <h3><span th:text="#{setting.title}" >Settings</span></h3>
            </div>
             <div class="widget-content">
                 
                 <h6 class="bigstats">
          
    <table style="border-collapse:separate;border-spacing:0 10px;text-transform:none">
     <tr>
      <td style="width:100px;text-align:right;margin-right:18px">
       <h4 th:text="#{setting.audit}" >Audit</h4>
      </td>
      <td style="width:30px;text-align:center">
        <h2> <i class="icon-dashboard" style="width:40px;color:#00AB8B"></i></h2>
      </td>
      <td class="homebean-info">
      <label class="switch switch-green" style="margin-top:5px">
       <input id="f3" type="checkbox" class="switch-input" onclick="ff4j_toggleAudit()" th:checked="${auditEnable}" />
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
      </td>
     </tr>
     
    </table>
    
    </h6>              
                </div>
                <!-- /widget-content --> 

          </div>
    	
    	
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>
   
</body>
</html>