<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"></head>
<body>
  
<div class="navbar navbar-fixed-top" th:include="navbar :: navbar"></div>

<div id="wrapper" class="container" >
 <div class="row">
  <div class="span9"> 
   <div id="content" class="clearfix" >
    <div class="main-inner" >
     <div class="container">
      <div class="row">
	   <div class="span12">
		<div class="error-container">
		 <h1>404</h1>
		 <h2><span th:text="#{404.title}">title</span></h2>
				<div class="error-details">
					<span th:text="#{404.subtitle}">title</span>
				</div> <!-- /error-details -->
				
				<div class="error-actions">
					<a href="index.html" th:href="@{home}" class="btn btn-large btn-green">
						<i class="icon-chevron-left"></i>
						&nbsp;
						<span th:text="#{404.back}">title</span>						
					</a>
					
					
					
				</div> <!-- /error-actions -->
							
			</div> <!-- /error-container -->			
			
		</div> <!-- /span12 -->
		
	</div> <!-- /row -->


	 </div>
	</div>
   </div>
  </div>
 </div>
</div>
   
</body>
</html>