<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 
 <head th:fragment="head">
   
   <meta http-equiv="Cache-Control"          content="no-store" />
   <meta http-equiv="Pragma"                 content="no-cache" />
   <meta http-equiv="Content-Type"           content="text/html;charset=utf-8" />
   <meta name="viewport"                     content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="author" 			 			 content="Cedrick LUNVEN" />
   <meta name="title" 			             content="FF4J Administration Console" />
   <meta name="application-name"             content="FF4J Administration Console" />

   <!-- Icons -->
   <link th:href="@{static/img/icons/ff4j-ico.png}" href="" rel="icon" />
   <link th:href="@{static/img/icons/ff4j-ico.png}" href="" rel="shortcut icon" />
   <link th:href="@{static/img/icons/ff4j-ico.png}" href="" rel="apple-touch-icon" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" media="all" href="" th:href="@{static/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="" th:href="@{static/css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="" th:href="@{static/css/font-awesome-3.2.1.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="" th:href="@{static/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="" th:href="@{static/css/dashboard.css}" />
 
    <!-- JS -->
    <script type="text/javascript" src="" th:src="@{static/js/jquery/jquery-1.9.1.js}"></script>
    <script type="text/javascript" src="" th:src="@{static/js/bootstrap.js}"></script>
    <script type="text/javascript" src="" th:src="@{static/js/base.js}"></script>
    <script type="text/javascript" src="" th:src="@{static/js/ff4j.js}"></script>
    
    <title th:text="'FF4J - ' + ${TITLE}">FF4J - Home</title>
    
  </head>
  
<body>Sample</body>
</html>

